body{
	background: #CDC9C9;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
h1{
	text-align: center;
	padding-top: 20%;
	color:#68838B;
}
	p{
	color:#008B8B;
	font-size: 20px;
	text-align: center;
	padding: 20px;
}