body {
  background-color: #8B8386;
}
.box_1 {
  background: url(../img/foto-1.jpg) no-repeat center center;
}
.box_2 {
  background: url(../img/foto-2.jpg) no-repeat center center;
}
.box_2 .wrap:hover {
  -webkit-transform: translate3d(0, -30px, 0);
          transform: translate3d(0, -30px, 0);
}
.box_3 {
  background: url(../img/foto-3.jpg) no-repeat center center;
}
.box_3 .wrap:hover {
  -webkit-transform: scale(1.5);
  -ms-ransform: scale(1.5);
  transform: scale(1.5);
}
.box_4 {
  background: url(../img/foto-4.jpg) no-repeat center center;
}
.box_4:hover {
  background-size: 500px 500px;
}
.box {
  width: 285px;
  height: 300px;
  margin-right: 3rem;
  margin-top: 5rem;
  background-size: cover;
  font-size: 30px;
  text-transform: uppercase;
  overflow: hidden;
}
.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
  opacity: 0;
}
.wrap:hover {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}
.sign {
  text-align: center;
}
.sign a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
}
.sign a:hover {
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #000;
}
