body {
  margin: 0;
  padding: 0;
}
section {
  padding: 20px 100px;
  height: 100vh;
}
.menu {
  opacity: 0.9;
  background-color: purple;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: -100vw;
}
.menu-link {
  z-index: 9;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 20px;
  left: 20px;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #333;
}
.menu-link span:before {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  content: '';
  margin-top: -6px;
}
.menu-link span:after {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
  content: '';
}
.menu-link_active span {
  background-color: transparent;
}
.menu-link_active span:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 0;
}
.menu-link_active span:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 0;
}
.menu_active {
  left: 0;
}
.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
.menu ul li {
  width: 100vw;
}
.menu ul a {
  display: block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  line-height: 4;
  font-weight: 100;
  letter-spacing: 4px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.menu ul a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
